@model Die1Er_Projektarbeit.ViewModels.RegisterBenutzerViewModel
@{
    ViewData["Title"] = "Registrieren";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <form id="registerForm" asp-action="Register" asp-controller="Account"
          asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div class="form-floating mb-3">
            <input asp-for="Email" class="form-control" />
            <label asp-for="Email"></label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Passwort" class="form-control" />
            <label asp-for="Passwort"></label>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="PasswortBestätigung" class="form-control" />
            <label asp-for="PasswortBestätigung"></label>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Vorname" class="form-control" />
            <label asp-for="Vorname"></label>
            <span asp-validation-for="Vorname" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Nachname" class="form-control" />
            <label asp-for="Nachname"></label>
            <span asp-validation-for="Nachname" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <select asp-for="Rolle" class="form-control">
                <option value="">Bitte Rolle wählen</option>
                <option value="Ausbilder">Ausbilder</option>
                <option value="Lehrkraft">Lehrkraft</option>
            </select>
            <label asp-for="Rolle"></label>
            <span asp-validation-for="Rolle" class="text-danger"></span>
        </div>

        <button type="submit" class="w-100 btn btn-lg btn-primary">Registrieren</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}