@using Die1Er_Projektarbeit.ViewModels;
@model ForumViewModel

<div>
    <h2>Themen:</h2>
    @foreach (var thema in Model.Themen)
    {
        <div class="card m-2">
            <div class="card-body m-3">
                <div class="d-flex justify-content-between align-items-start mb-2">
                    <p class="text-secondary mb-0">@thema.Berufsbereich</p>
                </div>
                <h5 class="card-title">@thema.Titel</h5>
                <p class="card-text">@thema.Ersteller.Name</p>
            </div>
        </div>
    }
    <button class="btn btn-primary">
        <a asp-area="" asp-controller="Forum" asp-action="ThemaErstellen" class="nav-item nav-link">Thema erstellen</a>
    </button>
</div>